@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

html{
    font-size: 32px;
}
body{
    margin: 0;
    padding: 0;
    
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* 画面切り替えのため（表示・非表示） */
.content {
    display: none;
    width: 100%;
}
.content.active {
    display: block;
    width: 100%;
}
/* メニュー画面 */
.title{
    width: 100%;
    position: relative;
}
h1{
    width: 50%;
    font-size: 3rem;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: black;
    text-shadow: 1.5px 1.5px 1.5px rgb(129, 129, 129);
    margin: 0;
    position: absolute;
    left: 35%;
}
.fivecontent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
    margin-left: 9rem;
}
.fivetable th{
    text-align: center;
    font-size: 0.7rem;
}
.fivetable td{
    font-size: 0.5rem;
}

/* メニューバー */
ul.tab {
	list-style-type: none;
	margin: 0;
	padding: 0;
    width: 8rem;
    height: 100%;
	background-color: rgba(26, 25, 25, 0.164);
    overflow: auto;
    position: fixed; 
    top: 0; 
	left:0; 
	z-index:1; 
}

/* メニューバーのボタン */
.tab li:nth-child(1){
    margin-top: 3rem;
}
.buttom3d {
    display: block;
    background-color: #f1f1f1;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    font-size: 0.6rem;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #6182ca, 0px 2px 0px #4f6aa7, 0px 3px 0px #5470ad;
    width: 100%;
    margin-bottom: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

}
.buttom3d:hover{
	background-color: #1b2538;
	color: white;
}
.buttom3d:active {
    top: 4px;
    text-shadow: none;
}

/* アップロード画面 */
.photo{
    margin-left: 7rem;
}
.uploadmemo{
    font-size: 0.5rem;
}

#upload_file{
    text-align: center;
}
input{
    width: 15rem;
    height: 1rem;
    font-size: 0.75rem;
    border: solid;
    background-color: lightgray;
    z-index: 5;
}
select{
    width: 15.3rem;
    height: 1.3rem;
    font-size: 0.75rem;
    border: solid;
    background-color: lightgray;
}
option{
    font-size: 0.5rem;
}
textarea{
    width: 15rem;
    height: 7.5rem;
    font-size: 0.75rem;
    border: solid;
    background-color: lightgray;
}
#submit{
    margin-top: 3rem;
}

/* カレンダー画面 */
.date{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 7rem;
}
.datepicker{
    width: 20.8rem;
    margin-left: 1rem;
    margin-top: 2rem;
    font-size: 100%;
    
}
.daycolor a{
    background-color : Green !important;
    background-image :none !important;
    color: White !important;
}

.calendarmemo{
    width: 20.6rem;
    font-size: 0.5rem;
    list-style: none;
    border-top: solid #1e366a 3px;
    border-bottom: solid #1e366a 3px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* 日曜日のカラー設定 */
td.ui-datepicker-week-end:first-child a.ui-state-default{
  background-color: #ffecec;   /* 背景色を設定 */
  color: #f00!important;       /* 文字色を設定 */
}
/* 土曜日のカラー設定 */
td.ui-datepicker-week-end:last-child a.ui-state-default{
  background-color: #eaeaff;   /* 背景色を設定 */
  color: #00f!important;       /* 文字色を設定 */
}
/* ホバー時の動作 */
td.ui-datepicker-week-end a.ui-state-hover{
  opacity: 0.8;
}
/* 当日を示す色はそのまま */
td.ui-datepicker-week-end a.ui-state-highlight{
  background-color: #fffa90!important;
}
/* 管理画面 */
.tablecontent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 7rem;
}
.table th{
    font-size: 0.7rem;
}
.table td{
    font-size: 0.5rem;
}


@media screen and (max-width: 550px) {
/* 550px以下に適用されるCSS（スマホ用） */
html{
    font-size: 16px;
}
body{
    font-family: Roboto, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
/* メニュー画面 */
.title{
    position: static;
    display: flex;
    justify-content: center;
    
}
h1{
    position: static;
    width: 100%;
}
/* メニューバー */
ul.tab {
    display: flex;
    justify-content: center;
    align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
    width: 100%;
    height: 1.5rem;
    background-color: rgba(26, 25, 25, 0.164);
    position: static;
}
.tab li:nth-child(1){
    margin-top: 0;
}
.buttom3d{
    margin-bottom: 0;
    margin-right: 1rem;

}
.fivecontent{
    margin-left: 0;
    margin-top: 2rem;
}

/* アップロード画面 */
.photo{
    margin-left: 0;
}
#submit{
    margin-bottom: 1rem;
}

/* カレンダー画面 */
.date{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
}
#datepicker{
    width: 100%;
    font-size: 100%;
}
.calendarmemo{
    width: 100%;
    height: 19.6rem;
}

/* 管理画面 */
.tablecontent{
    margin-top: 2rem;
    margin-left: 0;
}
.table{
    width: 100%;
}
}